<%= form_with url: "/parks/#{@park.id}", method: :patch, local: true do |form| %>
  <p><%= form.label :name %>
  <%= form.text_field :name %></p>
  <p><%= form.label :cost %>
  <%= form.text_field :cost %></p>
  <p><%= form.label :daily_visitors %>
  <%= form.text_field :daily_visitors %></p>
  <%= form.submit "Update Park" %>
<% end %>
