<%= link_to 'Park Trails', "/parks/#{@park.id}/trails" %>
<h1><%= @park.name %></h1>
<p><%= link_to "Update #{@park.name}", "/parks/#{@park.id}/edit" %></p>
<p><%= link_to "Delete #{@park.name}", "/parks/#{@park.id}", method: :delete %></p>
<p>Numbe of Trails: <%= @park.trails.count %></p>
<p>Cost: <%= @park.cost %></p>
<p>Daily Visitors: <%= @park.daily_visitors %></p>
