<%= link_to 'Park Trails', "/parks/#{@park.id}/trails" %>
<%= link_to "Update #{@park.name}", "/parks/#{@park.id}/edit" %>
<h1><%= @park.name %></h1>
<p>Numbe of Trails: <%= @park.trails.count %></p>
<p>Cost: <%= @park.cost %></p>
<p>Daily Visitors: <%= @park.daily_visitors %></p>
