<%= link_to 'Parks', "/parks" %>
<%= link_to 'Trails', "/trails" %>
<%= link_to 'Sort by Name', "/parks/#{@park.id}/trails?sort=alpha" %>
<%= link_to 'Create Trail', "/parks/#{@park.id}/trails/new" %>
<% @trails.each do |trail| %>
   <p><h3><%= trail.name %></h3></p>
   <p>Difficulty: <%= trail.difficulty %></p>
   <p>Open: <%= trail.open %></p>
<% end %>
